/* .MenuButton{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 2em;
  height: 260px;
  width: 360px;
  margin: 0.5em;
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	/* height: 100vh; */
}

.Sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 6rem;  
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4));
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(124, 124, 124, 0.37);
}

.sidebar-icon{
  position: relative;
  display: flex;
  place-items: center;
  height: 3rem;
  width: 3rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  color: #23d5ab;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4));
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(120, 120, 120, 0.37);
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 50px;
  transition: all 0.35s ease-in;
}
.sidebar-icon:hover{
  border-radius: 20px;
  color:  rgb(31, 128, 197);
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}

.tooltip{
  position: absolute;
  width: auto;
  padding: 1em;
  margin: 1em;
  right: 4em;
  background: whitesmoke;
  height: 2em;
  font-size: medium;
  opacity: 90%; 
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(120, 120, 120, 0.37);
  border-radius: 20px;
  scale: 0;
  transition: all 0.35s ease-in-out;
  transform-origin: right;
  color:black;
}

.sidebar-icon:hover > .tooltip{
  scale: 1;
  transition: all 0.35s ease-in-out;
}

form{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4));
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(120, 120, 120, 0.37);
  padding: 4em;
  border-radius: 20px;
  margin: 2em;
}

#root{
  margin: 0;
  display: flex;
  place-items: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}