@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #23d5ab;
	animation: gradient 15s ease infinite;
}

#main-content { 
  display: flex;
  justify-content: center;
}

.Sidebar{
  position: fixed;
  bottom: 0;
  width: 100%;  
  display: flex;
  justify-content: space-around;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4));
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(124, 124, 124, 0.37);
}

.sidebar-icon{
  position: relative;
  display: flex;
  place-items: center;
  height: 3rem;
  width: 3rem;
  justify-content: center;
  color: #23d5ab;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4));
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(120, 120, 120, 0.37);
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 50px;
  transition: all 0.35s ease-in;
}
.sidebar-icon:hover{
  border-radius: 20px;
  color:  rgb(31, 128, 197);
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}

.tooltip{
  position: absolute;
  width: auto;
  padding: 1em;
  margin: 1em;
  right: 4em;
  background: whitesmoke;
  height: 2em;
  font-size: medium;
  opacity: 90%; 
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(120, 120, 120, 0.37);
  border-radius: 20px;
  scale: 0;
  transition: all 0.35s ease-in-out;
  transform-origin: right;
  color:black;
}

.sidebar-icon:hover > .tooltip{
  scale: 1;
  transition: all 0.35s ease-in-out;
}

form{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4));
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(120, 120, 120, 0.37);
  padding: 4em;
  border-radius: 20px;
  margin: 2em;
}